# Temp log files
Client/SyncClient/Logs
Client/SyncClient/logs.txt

# Unity Cache/Temp Folders
Client/SyncClient/Library
Client/SyncClient/Temp
Client/SyncClient/obj
Client/SyncClient/.vscode

Server/SyncServer/bin
Server/SyncServer/obj
Server/SyncServer/.vs
Server/.vs